@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

body
{
font-family: 'Poppins', sans-serif;
background-color: rgb(247, 241, 241);
}

p{
    font-size: 8px;
    color: rgb(184, 179, 179)
}
h1
{
    color: rgb(141, 140, 140);
    text-align:center;
    font-style:normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 20px;
}
h2
{
    text-align: center;
    color:black;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 25px;
}
h3
{
    font-size: 12px;
}
.para1
{
    color:rgb(184, 178, 178);
    text-align:center;
    font-size: 12px;
}
#container
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1140px;
    margin: auto;
    text-align: justify;
    align-items:center;
}

.card-one
{
    background-color: snow;
    width: 200px;
    height: 130px;
    padding: 15px;
    border-top:3px rgb(15, 187, 230)solid;
    box-shadow:5px 5px 5px rgb(145, 139, 139);
    margin: 10px;
    border-radius: 5px;
    position: relative;
    top: 90px;

}

.card-one img
{
    display: block;
    margin-left: auto;
}

.card-two
{
    background-color: snow;
    width: 200px;
    height: 130px;
    padding: 15px;
    border-top:3px rgb(230, 15, 15)solid;
    box-shadow:5px 5px 5px rgb(145, 139, 139);
    margin: 10px;
    border-radius: 5px;
    position: absolute;

}

.card-two img
{
    display: block;
    margin-left: auto;
}
.card-three
{
    background-color: snow;
    width: 200px;
    height: 130px;
    padding: 15px;
    border-top:3px rgb(230, 137, 15)solid;
    box-shadow:5px 5px 5px rgb(145, 139, 139);
    margin: 10px;
    border-radius: 5px;
    position: relative;
    top: 180px;

}
.card-three img
{
    display: block;
    margin-left: auto;
}
.card-four
{
    background-color: snow;
    width: 200px;
    height: 130px;
    padding: 15px;
    border-top:3px rgb(29, 15, 230)solid;
    box-shadow:5px 5px 5px rgb(145, 139, 139);
    margin: 10px;
    border-radius: 5px;
    position: relative;
    top: 90px;

}
.card-four img
{
    display: block;
    margin-left: auto;
}

@media all and (max-device-width: 1024px)
{
    .card-one
    {
        position: relative;
        top: 100px;
    }
    .card-two
    {
        position: absolute;
    }
    .card-three
    {
        position: relative;
        top: 180px;
    }
    .card-four
    {
        position: relative;
        top: 100px;
    }
}
